body {
  font-size: 14px; }

img {
  width: auto;
  height: auto;
  vertical-align: bottom; }

.inner {
  width: 100%;
  max-width: 980px;
  margin: auto; }

.flex {
  display: flex; }

.flex > * {
  flex: 0 0 auto; }

.row {
  width: 100%; }

.label {
  display: block;
  border-radius: 6px;
  background-color: #fd4545;
  font-size: 12px;
  text-align: center; }

a {
  text-decoration: none; }

.ad {
  width: 100%; }

.header {
  position: relative; }

.header h1 {
  background-color: #dddddd;
  text-align: center; }

.header .row {
  padding: 8px 0; }

.header .contactList {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #ffffcc;
  text-align: center; }

.header .contactList li {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.main section {
  margin-bottom: 1rem; }

.main .itemList {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  background-color: #e4e4e4; }

.main .itemList li {
  flex: 1 0 20%;
  margin: 5px;
  background-color: #fff; }

.footer {
  border-bottom: 1px solid #333; }
