// created 20180720

// common
img {
  vertical-align: bottom;
  width: auto;
  height: auto;
}
.inner {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.flex {
  display: flex;
  * {
    flex: 0 0 auto;
  }
}
.col {
  display: flex;
  & > * {
    flex: 0 0 auto;
  }
}
.row {
  width: 100%;
}

// unique
.ad {
  width: 100%;
}

.header {
  position: relative;
  h1 {
    background-color: #dddddd;
    text-align: center;
  }
  .row {
    padding: 8px 0;
  }

  .contactList {
    background-color: #ffffcc;
    border: {
      top: 1px solid #ccc;
      bottom: 1px solid #ccc;
    }
    text-align: center;
    li {
      margin: {
        left: 0.25rem;
        right: 0.25rem;
      }
      display: inline-block;
    }
  }
}
