// created 20180720

// common
.inner {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

// section
.ad {
  width: 100%;
}

.header {
  position: relative;
  h1 {
    background-color: #dddddd;
    text-align: center;
  }
  .row {
    padding: 8px 0;
  }
}
