// created 20180720

// common
body {
  font-size: 14px;
}
img {
  vertical-align: bottom;
  width: auto;
  height: auto;
}
.inner {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.flex {
  display: flex;
  & > * {
    flex: 0 0 auto;
  }
}
.col {
}
.row {
  width: 100%;
}
.label {
  display: block;
  background-color: #fd4545;
  border-radius: 6px;
  text-align: center;
  font-size: 12px;
}
a {
  text-decoration: none;
}

// unique
.ad {
  width: 100%;
}

.header {
  position: relative;
  h1 {
    background-color: #dddddd;
    text-align: center;
  }
  .row {
    padding: 8px 0;
  }

  .contactList {
    background-color: #ffffcc;
    border: {
      top: 1px solid #ccc;
      bottom: 1px solid #ccc;
    }
    text-align: center;
    li {
      margin: {
        left: 0.25rem;
        right: 0.25rem;
      }
      display: inline-block;
    }
  }
}

.main {
  section {
    margin-bottom: 1rem;
  }
  .itemList {
    display: flex;
    margin: -5px;
    flex-wrap: wrap;
    background-color: #e4e4e4;
    li {
      flex: 1 0 20%;
      margin: 5px;
      background-color: #fff;
    }
    a {
    }
  }
}

.footer {
  border-bottom: 1px solid #333;
}
